-- grant for replication user
SET SQL_LOG_BIN=0;
GRANT REPLICATION SLAVE, REPLICATION CLIENT ON *.* TO {{tendbcluster_user_repl}}@'%' IDENTIFIED BY '{{tendbcluster_user_repl_pass}}';
GRANT REPLICATION SLAVE, REPLICATION CLIENT ON *.* TO {{tendbcluster_user_repl}}@'localhost' IDENTIFIED BY '{{tendbcluster_user_repl_pass}}';
SET SQL_LOG_BIN=1;

reset master;
change master to master_user='{{tendbcluster_user_repl}}',master_password='{{tendbcluster_user_repl_pass}}' for channel 'group_replication_recovery';
INSTALL PLUGIN group_replication SONAME 'group_replication.so';

{% if groups.tdbctl.index(inventory_hostname) == 0 %}
SET GLOBAL group_replication_bootstrap_group=ON;
START GROUP_REPLICATION;
SET GLOBAL group_replication_bootstrap_group=OFF;
{% else %}
START GROUP_REPLICATION;
{% endif %}